node_modules/
npm-debug.log*
.DS_Store
.env
*.log

.vercel
.env*

# file referensi desain lokal
contoh design hasil photobooth*.jpg
contoh design hasil photobooth*.txt
Contoh Hasil*.jpeg
Contoh Hasil*.jpg
